{% extends 'base.html' %}
{% block title %}
    写博客
{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/base.css') }}">
    <script src="{{ url_for('static',filename = 'js/add_article.js') }}"></script>
{% endblock %}
{% block index %}
    {% if context %}
        <script>alert('标题或内容不能为空')</script>
    {% endif %}

    <form action="/article/" method="post">
        <table>
            <tbody>
                <tr>
                    <td>标题：
                        <input type="text" name="title" placeholder="请输入标题">
                    </td>
                </tr>
                 <tr>
                    <td>内容：
                        <input type="text" name="body" placeholder="请输入内容">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" name="submit" onclick="publishing('allen')">发布</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}