{% extends 'base.html' %}
{% block title %}
    文章
{% endblock %}
{% block index %}
{#    {{ super() }}#}
    <table>
        <thead>
            <th>标题</th>
            <th>博客体</th>
        </thead>
        <tbody>
            {% for foo in result %}
                <tr>
                    <td>标题：{{ foo.title }}</td>
                </tr>
                <tr>
                    <td>内容：{{ foo.content }}</td>
                </tr>
                <tr>
                    <a methods="get" role="button" href="{{ url_for('comment',id=foo.id) }}">评论</a>
                </tr>
         {% endfor %}
        </tbody>
    </table>

{#        <p>总条数：{{ context|length }}</p>#}
{#    <ul>#}
{#        {% for k in context %}#}
{#            <li>#}
{#                <a href='#' style="color: #9C1A1C">{{ k.name }}</a>#}
{#                <p>{{ k.author }}</p>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    <img src={{ a|default('http://192.168.74.163/lib/images/smileys/icon_forward.bmp') }}>#}


{% endblock %}