<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页aaa</title>
    <style>
        .nav{
            line-height: 65px;
            background-color: #86989B;
        }
        ul li{
            padding: 0 10px;
        }
        ul li a{
            padding: 0 10px;
            list-style: none;
            color: #fafafa;
        }
    </style>
</head>
<body>
    <div class="nav">
        <ul>
            <li>
                <a href="#">首页</a>
                <a href="#">发布</a>
            </li>
        </ul>
    </div>
</body>
</html>