{% extends 'base.html' %}
{% block title %}
    首页
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/index.css') }}">
{% endblock %}
{% block main %}
    <div class="list">
    <ul>
    {% for question in questions %}
        <li>
            <div class="avatar-group">
                <img  class="avatar" src="{{ url_for('static',filename = 'images/kk.jpg') }}" alt="">
            </div>
            <div class="question-group">
                <p class="question-title"><a href="#" name="title">{{ question.title }}</a></p>
                <p class="question-content">{{ question.content }}</p>
                <div class="question-info">
                    <span class="question-author">{{ question.author.username }}</span>
                    <span class="question-time">{{ question.creat_time }}</span>
                </div>
            </div>
        </li>

    {% endfor %}
    </ul>
    </div>

{#<table class="table table-striped">#}
{#    <thead>#}
{#        <tr>#}
{#          <th>head1</th>#}
{#          <th>head2</th>#}
{#        </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#        <tr>#}
{#          <td>123</td>#}
{#          <td>123</td>#}
{#        </tr>#}
{#    </tbody>#}
{#</table>#}
{% endblock %}